{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="w-[100%] h-auto bg-[#161D25]">
    <style>
        .slayder-quti {
            width: 100%;
            height: 480px;
            border-radius: 4px;
        }

        .swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .premyera-sarlavha {
            border-left: 3px solid #5b21b6;
            padding-left: 12px;
            cursor: pointer;
        }

        .premyera-sarlavha h2 {
            color: #94a3b8;
            transition: color 0.3s ease;
        }

        .premyera-sarlavha:hover h2 {
            color: #ffffff;
        }

        .kino-nomi-qora-fon {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.7);
            padding: 20px 0;
            text-align: center;
            z-index: 10;
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: #94a3b8;
        }
    </style>
    <body class="font-sans">
        <div class="max-w-5xl mx-auto mt-[40px] mx-[15px] md:ml-[170px]">

            <div class="mb-5 w-fit">
                <div class="premyera-sarlavha">
                    <h2 class="md:text-sm font-bold tracking-[0.2em] uppercase text-[20px] ml-[10px]">
                        Premyeralar
                    </h2>
                </div>
            </div>

            <div class="swiper premyera-slider slayder-quti overflow-hidden ml-[5px]">
                <div class="swiper-wrapper">

                    <div class="swiper-slide relative">
                        <img src="https://images.uzmovi.tv/2025-12-23/e0f001176a07e468e4d3c083f2694b10.jpg" />
                        <div class="kino-nomi-qora-fon">
                            <p class="text-white text-xl font-medium px-4">
                                Fallout (2-mavsum / fasl, o'zbek tilida)
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide relative">
                        <img src="https://images.uzmovi.tv/2025-12-19/5140f8879d9db843dc1d6ed9e4d994c1.jpg" />
                        <div class="kino-nomi-qora-fon">
                            <p class="text-white text-xl px-4">
                                Ko'chalar ovozi (premyera)
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide relative">
                        <img src="https://images.uzmovi.tv/2025-12-20/245cad97cb77c80869727985ec54ba3d.jpg" />
                        <div class="kino-nomi-qora-fon">
                            <p class="text-white text-xl px-4">
                                Avatar 3: Olov va kul
                            </p>
                        </div>
                    </div>

                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <script>
            new Swiper(".premyera-slider", {
                loop: true,
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>
    </body>

    <div class="container md:flex   justify-center  mx-auto">
        <div>
            <style>
                .min {
                    border-left: 5px solid blue;
                    padding-left: 10px;
                }

                @media (max-width: 300px) {
                    .max {
                        width: 1000px;
                        height: 1000px;
                    }

                    .min {
                        display: none;
                    }

                    .mon {
                        display: none;
                    }

                    .man {
                        display: none;
                    }

                    .mien {
                        display: none;
                    }
                }

                @media (max-width: 600px) {
                    .max {
                        width: 100%;
                        height: 100%;
                    }

                    .mon {
                        display: none;
                    }

                    .man {
                        display: none;
                    }

                    .mien {
                        display: none;
                    }
                }

                @media (max-width: 900px) {
                    .max {
                        width: 100%;
                        height: 100%;
                    }


                    .man {
                        display: none;
                    }

                    .mien {
                        display: none;
                    }
                }
            </style>
            </head>
            <div class="max md:w-[1000px] h-[500px]  m-[auto]">
                <div class="justify-between flex p-[30px] gap-[20px]">
                    <h1 class=" mah min font-bold text-[20px] text-[#A5BBDC] md:ml-[10px] flex gap-[20px]">TARJIMA
                        KINOLAR
                    </h1>

                    <div class="md:flex flex mt-[15px] hidden md:block">
                        <div class="w-[10px] h-[5px] bg-[#02b0e480] ml-[5px]"></div>
                        <div class="w-[10px] h-[5px] bg-[#fff] ml-[5px]"></div>
                    </div>
                </div>


                <div class="flex md:w-auto w-[416px] flex-wrap ml-[20px] gap-2 md:ml-[0px]">
                    {% for kino in kino %}
                    <a href="{% url 'movie_inside' movie_id=kino.id %}">
                        <div class=" mun md:w-[223px] w-[203px] mt-[10px]  bg-[#2d2d3d] p-[4px] rounded-[2px]">
                            <div>
                                <img class="h-[325px] object-cover  " src="{{ kino.main_banner.url }}" alt="">
                            </div>
                            <div class="text-center p-[7px] pb-[10px]">
                                <span class="text-[#6E879F] text-[14px] text-center  ">
                                    {{kino.nomi}}
                                </span>
                            </div>

                        </div>
                    </a>
                    {% endfor %}
                </div>

                <body>
                    <div class="wrapper flex align-center justify-center mt-[20px] md:ml-[0px] ml-[20px]">


                        <div class="BA  md:flex-row align-center justify-center flex flex-col">

                            <div class="ora md:w-[446px] w-[426px] h-[319px] ">

                                <swiper-container class="mySwip mt-[15px] " pagination="true"
                                    pagination-type="progressbar" navigation="true">


                                    <swiper-slide>
                                        <img class="rasm1"
                                            src="https://images.uzmovi.tv/2025-10-02/fa1730e178586e4f5141ab9c67918f05.jpg"
                                            alt="">
                                    </swiper-slide>
                                    <swiper-slide>
                                        <img class="rasm1"
                                            src="https://images.uzmovi.tv/2025-10-01/590482c87de5590c6bc374b7d8700f0b.jpg"
                                            alt="">
                                    </swiper-slide>
                                    <swiper-slide>
                                        <img class="rasm1"
                                            src="https://images.uzmovi.tv/2025-12-05/fcdfc2563cab4845422ed5d37010c40d.jpg"
                                            alt="">
                                    </swiper-slide>


                                </swiper-container>
                                <script
                                    src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-element-bundle.min.js"></script>
                                <h1 class=" text-center mt-[10px]  ">Hayvonlar dunyosi/ o`zbek tilida <br>
                                    Hayvonlar dunyosi 2 / o`zbek tilida 2
                                </h1>


                            </div>

                            <div class="oraydi  ">
                                <div class="right w-[426px] h-[70px] rounded-[5px]  flex md:mt-[0px] mt-[10px] mr-[10px] mb-[10px]   md:ml-[20px]">
                                    <div class="left5 w-[110px] h-[70px] flex justify-center items-center">
                                        <img class="rasm4"
                                            src="https://images.uzmovi.tv/2025-10-02/fa1730e178586e4f5141ab9c67918f05.jpg"
                                            alt="">
                                    </div>
                                    <div class="yoz m-[10px]">
                                        <h1 class=" mt-[10px]">Odisey Odisey filimi rasmiy treyler </h1>
                                    </div>
                                </div>


                                <div class="right2 w-[426px] h-[70px] rounded-[5px] flex  mt-[10px] mr-[10px] mb-[10px]  md:ml-[20px]">
                                    <div class="left5 w-[110px] h-[70px] flex justify-center items-center">
                                        <img class="rasm4"
                                            src="https://images.uzmovi.tv/2025-10-02/fa1730e178586e4f5141ab9c67918f05.jpg"
                                            alt="">
                                    </div>
                                    <div class="yoz m-[10px]">
                                        <h1 class="">
                                            Qasoskorlar 5: Qiyomat kuni filimi birinchi <br> rasmiy treyler

                                        </h1>
                                    </div>
                                </div>



                                <div class="right3 w-[426px] h-[70px] rounded-[5px] flex mt-[10px] mr-[10px] mb-[10px] md:ml-[20px]">
                                    <div class="left5 w-[110px] h-[70px] flex justify-center items-center">
                                        <img class="rasm4"
                                            src="https://images.uzmovi.tv/2025-10-02/fa1730e178586e4f5141ab9c67918f05.jpg"
                                            alt="">
                                    </div>
                                    <div class="yoz m-[10px]">
                                        <h1 class=" mt-[8px]"> Koreyalik aktyor Li Byon Xon jurnal zo`r</h1>
                                    </div>
                                </div>


                                <div class="right4 w-[426px] h-[70px]  rounded-[5px] flex  mt-[10px] mr-[10px] mb-[10px] md:ml-[20px] ">
                                    <div class="left5 w-[110px] h-[70px] flex justify-center items-center">
                                        <img class="rasm4"
                                            src="https://images.uzmovi.tv/2025-10-02/fa1730e178586e4f5141ab9c67918f05.jpg"
                                            alt="">
                                    </div>
                                    <div class="yoz m-[10px]">
                                        <h1 class=" mt-[8px]">“Sohibjamol va maxluq” filmidagi yovuz </h1>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>



                </body>
                <style>
                    body {
                        color: #6e879f;
                        background-color: #161d25;
                    }

                    swiper-container {
                        width: 426px;
                        height: 240px;

                    }

                    swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        background: #ac0808;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }


                    swiper-slide img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .rasm1 {
                        width: 426px;
                        height: 240px;
                        background-image: url(/img/rasm1.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .rasm2 {
                        width: 426px;
                        height: 240px;
                        background-image: url(/img/rasm2.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .rasm3 {
                        width: 426px;
                        height: 240px;
                        background-image: url(/img/rasm3.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .ora {
                        background-color: #222933;
                        border-radius: 3px;
                    }

                    .rasm4 {
                        width: 100px;
                        height: 50px;
                        background-image: url(/img/rasm4.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                    }

                    .rasm5 {
                        width: 100px;
                        height: 50px;
                        background-image: url(/img/rasm5.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .rasm6 {
                        width: 100px;
                        height: 50px;
                        background-image: url(/img/rasm6.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .rasm7 {
                        width: 100px;
                        height: 50px;
                        background-image: url(/img/rasm7.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .right {
                        background-color: #222933;
                    }

                    .right2 {
                        background-color: #222933;
                    }

                    .right3 {
                        background-color: #222933;
                    }

                    .right4 {
                        background-color: #222933;
                    }

                    .left5 {
                        background-color: #2e3b4a;
                    }
                </style>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
            <script>
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 4,
                    spaceBetween: 30,
                    freeMode: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                });
            </script>

        </div>

        <div>
            <style>
                @media (max-width: 480px) {

                    body {
                        margin: 0;
                        background: #0f172a;
                    }

                    .warapper {
                        display: flex;
                        justify-content: center;
                        padding: 12px;
                    }

                    .w-\[320px\] {
                        width: 100% !important;
                        max-width: 360px;
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                    }

                    img.h-\[360px\] {
                        height: auto;
                    }

                    h1,
                    h2 {
                        font-size: 14px;
                    }

                    p {
                        font-size: 13px;
                        line-height: 1.5;
                    }

                    button {
                        width: 100%;
                    }
                }
            </style>


            <div class="warapper">
                <div class="w-[320px]">
                    <div class="grid grid-cols-4 mb-4 rounded-md overflow-hidden">
                        <div
                            class="bg-[#229ED9] h-[68px] flex items-center justify-center hover:bg-[#313842] text-[#313842] transition-[2s]">
                            <i class="bi bi-telegram text-[30px] text-[#fff]"></i>
                        </div>
                        <div
                            class="bg-[#c4302b] h-[68px] flex items-center justify-center hover:bg-[#313842] text-[#313842] transition-[2s]">
                            <i class="bi bi-youtube text-[30px] text-[#fff]"></i>
                        </div>
                        <div
                            class="bg-black h-[68px] flex items-center justify-center hover:bg-[#313842] text-[#313842] transition-[2s]">
                            <i class="bi bi-tiktok text-[30px] text-[#fff]"></i>
                        </div>
                        <div
                            class="bg-[#833AB4] h-68px flex items-center justify-center hover:bg-[#313842] text-[#313842] transition-[2s]">
                            <i class="bi bi-instagram text-[30px] text-[#fff]"></i>
                        </div>
                    </div>
                    <div class="bg-[#25313f] rounded-md p-4 relative">
                        <span class="absolute left-0 top-4 h-8 w-1 bg-[#4fc3f7]"></span>
                        <h2 class="text-[#8fc4ff] font-semibold mb-3 tracking-wide">
                            TASODIFIY FILMLAR
                        </h2>

                        <div class="rounded-md overflow-hidden mb-3">
                            <img src="https://images.uzmovi.tv/2025-12-20/245cad97cb77c80869727985ec54ba3d.jpg"
                                alt="Avatar 3" class="w-full h-[360px] object-cover">
                        </div>

                        <p class="text-sm text-gray-300 text-center leading-relaxed">
                            Avatar 3: Olov va kul (premyera, o‘zbek tilida, Uzbek)
                        </p>

                        <div class="flex justify-center gap-2 mt-4">
                            <span class="w-3 h-1 bg-[#4fc3f7] rounded"></span>
                            <span class="w-3 h-1 bg-gray-500 rounded"></span>
                            <span class="w-3 h-1 bg-gray-500 rounded"></span>
                        </div>

                    </div>


                    <div class="w-full flex justify-center pb-6 mt-[20px]">
                        <div class="w-[320px] bg-[#1e2a38] rounded-md p-4">
                            <div class="flex items-center gap-3 mb-4">
                                <span class="w-1 h-6 bg-purple-500"></span>
                                <h2 class="text-lg font-semibold text-[#9fc5ff]">
                                    ENG YAXSHI DONORLAR
                                </h2>
                            </div>
                            <div class="bg-[#7a875f] rounded-md p-3 flex items-center gap-3 mb-3">
                                <div
                                    class="w-10 h-10 rounded-full bg-blue-500 flex items-center justify-center text-xs font-bold">
                                    <img class="rounded-[20px]"
                                        src="https://lh3.googleusercontent.com/a/ACg8ocLnHgDFbrHkKxliP63nchWBJHRBgNXnKCyZEL3hUcKpPxA=s96-c"
                                        alt="">
                                </div>
                                <div class="flex-1 bg-[#707c58]">
                                    <p class="font-semibold text-[#fff] flex items-center gap-1">
                                        👑 Sunnat Azizov
                                    </p>
                                    <p class="text-sm text-[#fff]">310 000 so'm</p>
                                </div>
                            </div>
                            <div class="bg-[#2c3e52] rounded-md p-3 flex items-center gap-3 mb-3">
                                <img class="w-10 rounded-[20px]"
                                    src="https://lh3.googleusercontent.com/a/ACg8ocJAOgo1mLp7hEYuM2WDteOekfbyohlnDjWYKdtqoJo1=s96-c"
                                    alt="">
                                <div>
                                    <p class="font-semibold text-[#fff]">Islomjon Jo'raboyev</p>
                                    <p class="text-sm text-[#fff]">210 000 so'm</p>
                                </div>
                            </div>
                            <div class="bg-[#2c3e52] flex gap-[8px] rounded-md p-3 mb-3">
                                <div>
                                    <img class="w-10 rounded-[20px]"
                                        src="https://lh3.googleusercontent.com/a/ACg8ocLnHgDFbrHkKxliP63nchWBJHRBgNXnKCyZEL3hUcKpPxA=s96-c"
                                        alt="">
                                </div>
                                <div>
                                    <p class="font-semibold text-[#fff]">abdurashid_s_SsS</p>
                                    <p class="text-sm text-[#fff]">175 000 so'm</p>
                                </div>
                            </div>
                            <div class="bg-[#2c3e52] rounded-md p-3 flex items-center gap-3 mb-3">
                                <img class="w-10 rounded-[20px]"
                                    src="https://cdn4.telesco.pe/file/jDzVqf5h0VP2Lu4T5W6Mg9FgNEZSVBdzRJogRYGHLXTnmrkBzdS2cLTlF04BXUd7rkIeUPV50f-7vn4PDoOjZ83xg5WwvudXCaB0g3WZRUpQoRY12_LU9bVEkg7Q4wpHoAMMTEHObSDitu1MNB6RONzVXNz1Tvmrr71DCa9UNzurOvOzrjLHRobyZ5-gXqfzkM_NGx2XGkdhH6RyFg35m8mpLt1pP57Bofzip3uvjMlmC09YomzCE-aecfnUueebRAVLjPGRTZ3m-Hl-896eDJOf-amTDWDZsOMTy6GU9qHmIdLiCxVKoweAa68sl9uOo1v5te9inuyPjqDzdsM7-w.jpg"
                                    alt="">
                                <div>
                                    <p class="font-semibold text-[#fff]">OYATILLO Raximjonov</p>
                                    <p class="text-sm text-gray-300 text-[#fff]">150 500 so'm</p>
                                </div>
                            </div>
                            <div class="bg-[#2c3e52] rounded-md p-3 flex items-center gap-3 mb-4">
                                <img class="w-10 rounded-[20px]"
                                    src="https://lh3.googleusercontent.com/a/ACg8ocJAOgo1mLp7hEYuM2WDteOekfbyohlnDjWYKdtqoJo1=s96-c"
                                    alt="">
                                <div>
                                    <p class="font-semibold text-[#fff]">Shamsiddin Ramazonov</p>
                                    <p class="text-sm text-[#fff]">125 000 so'm</p>
                                </div>
                            </div>


                            <button
                                class="w-full bg-[#6f933b] text-[#fff] hover:bg-[#7fa84a] transition rounded-md py-3 font-semibold">
                                DONAT QILISH>
                            </button>

                        </div>
                    </div>
                    <div class="relative">
                        <div
                            class="relative w-[327px] h-[44px] bg-[#304156] border-b-2 border-slate-500 rounded-t-lg dropdown-header">
                            <i
                                class="bi bi-plus-circle toggle text-[#A5BBDC] absolute left-[280px] top-[12px] cursor-pointer"></i>
                            <a class="absolute p-[10px] text-[#A5BBDC]" href="#">YUQORI REYTINGDA</a>
                        </div>
                        <div class="dropdown hidden w-[327px] bg-[#304156] border-b border-slate-500">
                            <div class="p-4 w-[327px] border-b border-[#2f3f4f] flex gap-4">
                                <img src="https://images.uzmovi.tv/ii/1632628561/6b492ede/36011617.jpg"
                                    class="w-20 h-28 object-cover rounded" />
                                <div class="flex-1">
                                    <h2 class="font-semibold text-sm mb-2">
                                        XAVFLI O'YIN KALMAR O'YINI UZBEK
                                    </h2>
                                    <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                                        Tarjima kinolar
                                    </span>
                                    <div class="flex items-center gap-4 text-sm">
                                        <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +26926</span>
                                        <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                                <img src="https://images.uzmovi.tv/2024-12-09/1437e38b17a5350aa0965b0d4bf22349.jpg"
                                    class="w-20 h-28 object-cover rounded" />
                                <div class="flex-1">
                                    <h2 class="font-semibold text-sm mb-2">
                                        orgimchakodam uyga yol yoq
                                    </h2>
                                    <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                                        Tarjima kinolar
                                    </span>
                                    <div class="flex items-center gap-4 text-sm">
                                        <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +34477</span>
                                        <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </div>


                            <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                                <img src="https://images.uzmovi.tv/2024-12-09/477d079557d04030b2d79ccdc2c0676d.jpg"
                                    class="w-20 h-28 object-cover rounded" />
                                <div class="flex-1">
                                    <h2 class="font-semibold text-sm mb-2">
                                        wensdey wednezday
                                    </h2>
                                    <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                                        Tarjima kinolar
                                    </span>
                                    <div class="flex items-center gap-4 text-sm">
                                        <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +34386</span>
                                        <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                                <img src="https://images.uzmovi.tv/2024-12-09/940dc5555f6d28524b939cee729da822.jpg"
                                    class="w-20 h-28 object-cover rounded" />
                                <div class="flex-1">
                                    <h2 class="font-semibold text-sm mb-2">
                                        Lutsifer Lusifer
                                    </h2>
                                    <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                                        Tarjima kinolar
                                    </span>
                                    <div class="flex items-center gap-4 text-sm">
                                        <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +3496</span>
                                        <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            class="relative w-[327px] h-[57px] bg-[#304156] border-b-2 border-slate-500 dropdown-header">
                            <i
                                class="bi bi-plus-circle toggle text-[#A5BBDC] absolute left-[280px] top-[16px] cursor-pointer"></i>
                            <a class="absolute p-[16px] text-[#A5BBDC] text-[14px]" href="#">
                                kop muhokama qilingan
                            </a>
                        </div>
                        <div class="dropdown hidden w-[327px] bg-[#304156] border-b border-slate-500">
                            <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                                <img src="https://images.uzmovi.tv/2023-02-21/df68de96f6f18f56cea0cfa5504fc42a.jpg"
                                    class="w-20 h-28 object-cover rounded" />
                                <div class="flex-1">
                                    <h2 class="font-semibold text-sm mb-2">
                                        Olamlar Jangi Z
                                    </h2>
                                    <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                                        Tarjima kinolar
                                    </span>
                                    <div class="flex items-center gap-4 text-sm">
                                        <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +2988</span>
                                        <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                                <img src="https://images.uzmovi.tv/2023-08-21/3e007c62c3fc2bbccae2924840ccf202.jpg"
                                    class="w-20 h-28 object-cover rounded" />
                                <div class="flex-1">
                                    <h2 class="font-semibold text-sm mb-2">
                                        Arra1: pilla 1 ujaas filim uzbek
                                    </h2>
                                    <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                                        Tarjima kinolar
                                    </span>
                                    <div class="flex items-center gap-4 text-sm">

                                        <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +1088</span>
                                        <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                                <img src="https://images.uzmovi.tv/2022-07-27/6134718caf6dbbbe4aeaad2b653febcf.jpg"
                                    class="w-20 h-28 object-cover rounded" />
                                <div class="flex-1">
                                    <h2 class="font-semibold text-sm mb-2">
                                        Yigitlar Yangi Jangari Filim
                                    </h2>
                                    <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                                        Tarjima kinolar
                                    </span>
                                    <div class="flex items-center gap-4 text-sm">
                                        <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +4048</span>
                                        <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                                <img src="https://images.uzmovi.tv/ii/1629283928/0cf629ae/35538310.jpg"
                                    class="w-20 h-28 object-cover rounded" />
                                <div class="flex-1">
                                    <h2 class="font-semibold text-sm mb-2">
                                        Sumerki Zulmat ostonasidag
                                    </h2>
                                    <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                                        Tarjima kinolar
                                    </span>
                                    <div class="flex items-center gap-4 text-sm">
                                        <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +4048</span>
                                        <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="relative w-[327px] h-[44px] bg-[#304156] rounded-b-lg dropdown-header">
                            <i
                                class="bi bi-plus-circle toggle text-[#A5BBDC] absolute left-[280px] top-[12px] cursor-pointer"></i>
                            <a class="absolute p-[10px] text-[#A5BBDC]" href="#">kop korilgan</a>
                        </div>
                        <div class="dropdown hidden w-[327px] bg-[#304156] rounded-b-lg">
                            <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                                <img src="https://images.uzmovi.tv/2025-12-31/62a32eff7540560e0d3a7364a05b8aac.jpg"
                                    class="w-20 h-28 object-cover rounded" />
                                <div class="flex-1">
                                    <h2 class="font-semibold text-sm mb-2">
                                        YUGURUVCHI ODAM
                                    </h2>
                                    <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                                        Tarjima kinolar
                                    </span>
                                    <div class="flex items-center gap-4 text-sm">
                                        <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +88</span>
                                        <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                                <img src="https://images.uzmovi.tv/2025-12-25/4bb4d6261c379b6368db4a0640000658.jpg"
                                    class="w-20 h-28 object-cover rounded" />
                                <div class="flex-1">
                                    <h2 class="font-semibold text-sm mb-2">
                                        KATTA TOFON / BUYUK TOSHQIN
                                    </h2>
                                    <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                                        Fantastik
                                    </span>
                                    <div class="flex items-center gap-4 text-sm">
                                        <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +116</span>
                                        <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                                <img src="https://images.uzmovi.tv/2025-12-23/e0f001176a07e468e4d3c083f2694b10.jpg"
                                    class="w-20 h-28 object-cover rounded" />
                                <div class="flex-1">
                                    <h2 class="font-semibold text-sm mb-2">
                                        FALLOUT (2-MAVSUM / FASL)
                                    </h2>
                                    <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">

                                        Tarjima kinolar
                                    </span>
                                    <div class="flex items-center gap-4 text-sm">
                                        <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +54</span>
                                        <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </div>


                            <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                                <img src="https://images.uzmovi.tv/ii/1629283928/0cf629ae/35538310.jpg"
                                    class="w-20 h-28 object-cover rounded" />
                                <div class="flex-1">
                                    <h2 class="font-semibold text-sm mb-2">
                                        AVATAR 3: OLOV VA KUL
                                    </h2>
                                    <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                                        Fantazi
                                    </span>
                                    <div class="flex items-center gap-4 text-sm">
                                        <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +358</span>
                                        <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <script>
                        const toggles = document.querySelectorAll(".toggle");

                        toggles.forEach(toggle => {
                            toggle.addEventListener("click", () => {
                                const dropdown = toggle.parentElement.nextElementSibling;
                                dropdown.classList.toggle("hidden");
                            });
                        });
                    </script>



                    <div class="w-[320px] bg-[#22303c] rounded-lg mt-4 p-4 text-white">
                        <div class="flex items-center gap-3 mb-4">
                            <span class="w-[3px] h-6 bg-purple-500"></span>
                            <h2 class="font-semibold text-sm text-gray-200">TEGLAR BULUTI</h2>
                        </div>

                        <div class="flex flex-wrap gap-2 text-sm">
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">komediya</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Biznesmenlar</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">yangi</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Qutqaruvchilar</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Nishabdham</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">ko'chib</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Jafo</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">o'zbek</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">xizmatchisi</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Professional</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Quest</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">o'zbek tilida</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">uzbek</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Unutilgan</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">serial</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Eela</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Gaddar</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">qismlari</span>
                            <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Talvasa</span>
                        </div>

                    </div>


                </div>
            </div>

        </div>


    </div>
</div>


{% endblock %}