{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="bg-[#161d25] flex pt-[40px] px-[160px] ">
    <div>
        <h1 class="text-[#a5bbdc] text-[26px] mb-[30px]">Eksklyuziv filmlar</h1>
        <div class="flex gap-6 flex-wrap">
            {% for kino_purchase in kino_purchase %}
            <div class="w-[193px] text-center justify-center items-center bg-[#222933] relative">
                {% if kino_purchase.is_premium %}
                <button class="bg-[#8BC34A] text-white absolute right-[0px] p-[5px] rounded-[5px]"><i class="bi bi-star-fill text-white"></i> Premium</button>
                {% endif %}
                <img class="w-[193px] h-[270px] object-cover"
                    src="{{ kino_purchase.main_banner_purchase.url }}" alt="">
                <a class="text-[13px] text-[#a5bbdc]" href="">{{ kino_purchase.nomi_purchase }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="warapper">
        <div class="w-[320px]">
            <div class="grid grid-cols-4 mb-4 rounded-md overflow-hidden">
                <div
                    class="bg-[#229ED9] h-[68px] flex items-center justify-center hover:bg-[#313842] text-[#313842] transition-[2s]">
                    <i class="bi bi-telegram text-[30px] text-[#fff]"></i>
                </div>
                <div
                    class="bg-[#c4302b] h-[68px] flex items-center justify-center hover:bg-[#313842] text-[#313842] transition-[2s]">
                    <i class="bi bi-youtube text-[30px] text-[#fff]"></i>
                </div>
                <div
                    class="bg-black h-[68px] flex items-center justify-center hover:bg-[#313842] text-[#313842] transition-[2s]">
                    <i class="bi bi-tiktok text-[30px] text-[#fff]"></i>
                </div>
                <div
                    class="bg-[#833AB4] h-68px flex items-center justify-center hover:bg-[#313842] text-[#313842] transition-[2s]">
                    <i class="bi bi-instagram text-[30px] text-[#fff]"></i>
                </div>
            </div>
            <div class="bg-[#25313f] rounded-md p-4 relative">
                <span class="absolute left-0 top-4 h-8 w-1 bg-[#4fc3f7]"></span>
                <h2 class="text-[#8fc4ff] font-semibold mb-3 tracking-wide">
                    TASODIFIY FILMLAR
                </h2>

                <div class="rounded-md overflow-hidden mb-3">
                    <img src="https://images.uzmovi.tv/2025-12-20/245cad97cb77c80869727985ec54ba3d.jpg" alt="Avatar 3"
                        class="w-full h-[360px] object-cover">
                </div>

                <p class="text-sm text-gray-300 text-center leading-relaxed">
                    Avatar 3: Olov va kul (premyera, o‘zbek tilida, Uzbek)
                </p>


                <div class="flex justify-center gap-2 mt-4">
                    <span class="w-3 h-1 bg-[#4fc3f7] rounded"></span>
                    <span class="w-3 h-1 bg-gray-500 rounded"></span>
                    <span class="w-3 h-1 bg-gray-500 rounded"></span>
                </div>

            </div>


            <div class="w-full flex justify-center pb-6 mt-[20px]">
                <div class="w-[320px] bg-[#1e2a38] rounded-md p-4">
                    <div class="flex items-center gap-3 mb-4">
                        <span class="w-1 h-6 bg-purple-500"></span>
                        <h2 class="text-lg font-semibold text-[#9fc5ff]">
                            ENG YAXSHI DONORLAR
                        </h2>
                    </div>
                    <div class="bg-[#7a875f] rounded-md p-3 flex items-center gap-3 mb-3">
                        <div
                            class="w-10 h-10 rounded-full bg-blue-500 flex items-center justify-center text-xs font-bold">
                            <img class="rounded-[20px]"
                                src="https://lh3.googleusercontent.com/a/ACg8ocLnHgDFbrHkKxliP63nchWBJHRBgNXnKCyZEL3hUcKpPxA=s96-c"
                                alt="">
                        </div>
                        <div class="flex-1 bg-[#707c58]">
                            <p class="font-semibold text-[#fff] flex items-center gap-1">
                                👑 Sunnat Azizov
                            </p>
                            <p class="text-sm text-[#fff]">310 000 so'm</p>
                        </div>
                    </div>
                    <div class="bg-[#2c3e52] rounded-md p-3 flex items-center gap-3 mb-3">
                        <img class="w-10 rounded-[20px]"
                            src="https://lh3.googleusercontent.com/a/ACg8ocJAOgo1mLp7hEYuM2WDteOekfbyohlnDjWYKdtqoJo1=s96-c"
                            alt="">
                        <div>
                            <p class="font-semibold text-[#fff]">Islomjon Jo'raboyev</p>
                            <p class="text-sm text-[#fff]">210 000 so'm</p>
                        </div>
                    </div>
                    <div class="bg-[#2c3e52] flex gap-[8px] rounded-md p-3 mb-3">
                        <div>
                            <img class="w-10 rounded-[20px]"
                                src="https://lh3.googleusercontent.com/a/ACg8ocLnHgDFbrHkKxliP63nchWBJHRBgNXnKCyZEL3hUcKpPxA=s96-c"
                                alt="">
                        </div>
                        <div>
                            <p class="font-semibold text-[#fff]">abdurashid_s_SsS</p>
                            <p class="text-sm text-[#fff]">175 000 so'm</p>
                        </div>
                    </div>
                    <div class="bg-[#2c3e52] rounded-md p-3 flex items-center gap-3 mb-3">
                        <img class="w-10 rounded-[20px]"
                            src="https://cdn4.telesco.pe/file/jDzVqf5h0VP2Lu4T5W6Mg9FgNEZSVBdzRJogRYGHLXTnmrkBzdS2cLTlF04BXUd7rkIeUPV50f-7vn4PDoOjZ83xg5WwvudXCaB0g3WZRUpQoRY12_LU9bVEkg7Q4wpHoAMMTEHObSDitu1MNB6RONzVXNz1Tvmrr71DCa9UNzurOvOzrjLHRobyZ5-gXqfzkM_NGx2XGkdhH6RyFg35m8mpLt1pP57Bofzip3uvjMlmC09YomzCE-aecfnUueebRAVLjPGRTZ3m-Hl-896eDJOf-amTDWDZsOMTy6GU9qHmIdLiCxVKoweAa68sl9uOo1v5te9inuyPjqDzdsM7-w.jpg"
                            alt="">
                        <div>
                            <p class="font-semibold text-[#fff]">OYATILLO Raximjonov</p>
                            <p class="text-sm text-gray-300 text-[#fff]">150 500 so'm</p>
                        </div>
                    </div>
                    <div class="bg-[#2c3e52] rounded-md p-3 flex items-center gap-3 mb-4">
                        <img class="w-10 rounded-[20px]"
                            src="https://lh3.googleusercontent.com/a/ACg8ocJAOgo1mLp7hEYuM2WDteOekfbyohlnDjWYKdtqoJo1=s96-c"
                            alt="">
                        <div>

                            <p class="font-semibold text-[#fff]">Shamsiddin Ramazonov</p>
                            <p class="text-sm text-[#fff]">125 000 so'm</p>
                        </div>
                    </div>


                    <button
                        class="w-full bg-[#6f933b] text-[#fff] hover:bg-[#7fa84a] transition rounded-md py-3 font-semibold">
                        DONAT QILISH>
                    </button>

                </div>
            </div>


            <div class="w-[320px] bg-[#22303c] rounded-lg overflow-hidden text-white">
                <div class="bg-[#6f4a8e] px-4 py-3 flex justify-between items-center">
                    <h1 class="font-bold text-sm">YUQORI REYTINGDA</h1>
                    <div class="w-6 h-6 bg-[#5b3c73] rounded-full flex items-center justify-center">
                        <span class="text-lg">−</span>
                    </div>
                </div>

                <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                    <img src="https://images.uzmovi.tv/2024-12-09/1437e38b17a5350aa0965b0d4bf22349.jpg"
                        class="w-20 h-28 object-cover rounded" />
                    <div class="flex-1">
                        <h2 class="font-semibold text-sm mb-2">
                            O'RGIMCHAK-ODAM: UYGA YO'L YO'Q
                        </h2>
                        <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                            Tarjima kinolar
                        </span>
                        <div class="flex items-center gap-4 text-sm">
                            <span class="text-green-400 flex items-center gap-1"><i class="bi bi-hand-thumbs-up"></i>
                                +34271</span>
                            <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                        </div>
                    </div>
                </div>

                <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                    <img src="https://images.uzmovi.tv/2024-12-09/477d079557d04030b2d79ccdc2c0676d.jpg"
                        class="w-20 h-28 object-cover rounded" />
                    <div class="flex-1">
                        <h2 class="font-semibold text-sm mb-2">
                            VENZDEY WEDNESDEY UENZDEY ADAMSLAR
                        </h2>
                        <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                            Tarjima kinolar
                        </span>
                        <div class="flex items-center gap-4 text-sm">
                            <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +34182</span>
                            <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                        </div>
                    </div>
                </div>

                <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                    <img src="https://images.uzmovi.tv/ii/1632628561/6b492ede/36011617.jpg"
                        class="w-20 h-28 object-cover rounded" />
                    <div class="flex-1">
                        <h2 class="font-semibold text-sm mb-2">
                            XAVFLI O'YIN KALMAR O'YINI UZBEK
                        </h2>
                        <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                            Tarjima kinolar
                        </span>
                        <div class="flex items-center gap-4 text-sm">
                            <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +26926</span>
                            <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                        </div>
                    </div>
                </div>


                <div class="p-4 border-b border-[#2f3f4f] flex gap-4">
                    <img src="https://images.uzmovi.tv/2024-12-09/940dc5555f6d28524b939cee729da822.jpg"
                        class="w-20 h-28 object-cover rounded" />
                    <div class="flex-1">
                        <h2 class="font-semibold text-sm mb-2">
                            LUTSIFER LUSIFER LYUTSIFER UZBEK
                        </h2>
                        <span class="inline-block bg-[#2f3f4f] text-xs px-2 py-1 rounded mb-3">
                            Tarjima kinolar
                        </span>
                        <div class="flex items-center gap-4 text-sm">
                            <span class="text-green-400"><i class="bi bi-hand-thumbs-up"></i> +21531</span>
                            <span class="text-red-400"><i class="bi bi-hand-thumbs-down"></i></span>
                        </div>
                    </div>
                </div>

                <div class="divide-y divide-[#2f3f4f]">
                    <button class="w-full px-4 py-3 flex justify-between items-center text-sm">
                        KO'P MUHOKAMA QILINGAN
                        <span class="text-xl">＋</span>
                    </button>
                    <button class="w-full px-4 py-3 flex justify-between items-center text-sm">
                        KO'P KO'RILGAN
                        <span class="text-xl">＋</span>
                    </button>
                </div>
            </div>


            <div class="w-[320px] bg-[#22303c] rounded-lg mt-4 p-4 text-white">
                <div class="flex items-center gap-3 mb-4">
                    <span class="w-[3px] h-6 bg-purple-500"></span>
                    <h2 class="font-semibold text-sm text-gray-200">TEGLAR BULUTI</h2>
                </div>

                <div class="flex flex-wrap gap-2 text-sm">
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">komediya</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Biznesmenlar</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">yangi</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Qutqaruvchilar</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Nishabdham</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">ko'chib</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Jafo</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">o'zbek</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">xizmatchisi</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Professional</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Quest</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">o'zbek tilida</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">uzbek</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Unutilgan</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">serial</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Eela</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Gaddar</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">qismlari</span>
                    <span class="bg-[#2f3f4f] hover:bg-[#98b3cd] px-3 py-1 rounded">Talvasa</span>
                </div>

            </div>


        </div>
    </div>
</div>
{% endblock %}